<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda - Login</title>
</head>
<body>

    <h1>Login</h1>
    <form action="submit" method="post">{% csrf_token %}
        <div align="left">
            <label>Usuário: </label>
            <input type="text" name="username">

            <label>Senha: </label>
            <input type="password" name="pw">

            <button type="submit">Entrar</button>
        </div>
    </form>

    {% for message in messages %}
        <strong>Falha no login! </strong> {{ message }}
    {% endfor %}

</body>
</html>